* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    float: left;
    animation: animate 10s linear infinite;
}

.slide {
    position: relative;
    width: 20%;
    height: 100%;
    float: left;
}

.caption {
    position: absolute;
    bottom: 60px;
    left: 60px;
    right: 60px;
    padding: 30px;
    background: rgba(0,0,0,0.5);
    box-sizing: border-box;
    transition: 0.5s;
}

.caption h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 2rem;
}

.caption p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 1rem;
}

.slider1 {
    background: url('./Picture/1.jpg');
    background-size: cover;
    background-position: center;
}

.slider2 {
    background: url('./Picture/2.jpg');
    background-size: cover;
    background-position: center;
}

.slider3 {
    background: url('./Picture/3.jpg');
    background-size: cover;
    background-position: center;
}

.slider4 {
    background: url('./Picture/4.jpg');
    background-size: cover;
    background-position: center;
}

@keyframes animate {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

@media (max-width: 768px) {
    .caption {
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        padding: 20px;
    }

    .caption h2 {
        margin: 0 0 10px;
        font-size: 2.5rem;
    }
    
    .caption p {
        font-size: .95rem;
    }
}
